:root {

    /* WHITE AND BLACK */

    --white: #FFFFFF;
    --black: #000000;

    /* NAVY */

    --navy-950: #303B59;
    --navy-200: #CAC9FF;
    --navy-50: #ECF2FF;

    /* BLUE */

    --blue-800: #1125D6;
    --blue-50: #F3F4FD;

    /* YELLOW */

    --yellow-400: #FFB21E;
    --yellow-50: #FFFBF4;

    /* RED */

    --red-400: #FF5555;
    --red-50: #FFF6F6;

    /* GREEN */

    --green-500: #00BB8F;
    --green-50: #F2FCF9;

    /* GRADIENT */

    --gradient-1: #4D21C9;
    --gradient-2: #7755FF;

    /* TYPOGRAPHY */
    
    /* TEXTPRESET-1 */

    --t1-size: 4.5rem;
    --t1-line: 100%;
    --t1-letter: 0px;
    --t1-weight: 800;

    /* TEXTPRESET-2 */

    --t2-size: 3.5rem;
    --t2-line: 100%;
    --t2-letter: 0px;
    --t2-weight: 800;

    /* TEXTPRESET-3 */

    --t3-size: 2rem;
    --t3-line: 130%;
    --t3-letter: 0px;
    --t3-weight: 700;

    /* TEXTPRESET-4 */

    --t4-size: 1.5rem;
    --t4-line: 130%;
    --t4-letter: 0px;
    --t4-weight: 700;
    
    /* TEXTPRESET-5-BOLD */

    --t5b-size: 1.1rem;
    --t5b-line: 130%;
    --t5b-letter: 0px;
    --t5b-weight: 700;
    
    /* TEXTPRESET-5-MEDIUM */

    --t5m-size: 1.1rem;
    --t5m-line: 130%;
    --t5m-letter: 0px;
    --t5m-weight: 500;
    
    /* TEXTPRESET-6 */

    --t6-size: 1.1rem;
    --t6-line: 130%;
    --t6-letter: 0px;
    --t6-weight: 500;


    
}

/* CSS RESET */

/* Global layout math */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Page defaults */
body {
  margin: 0;
  font-family: 'HankenGrotesk', Arial, Helvetica, sans-serif;
}


/* FONTS */

@font-face {
    font-family: 'HankenGrotesk';
    font-weight: bold;
    src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: swap;
}

/* COLORS */


.wrapper {
    display: flex;
    justify-content: center;
}



.results-summary-component {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 1.8rem;
    /* border-radius: 2rem; */
}

/* RESULTS-SUMMARY-SECTION */


.results-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
    background: linear-gradient(180deg, #7755FF 0%, #2F2CE9 100%);
    padding: 2rem 3.5rem;
    border-radius: 0 0 2rem 2rem;
}

.results-summary__heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: #CAC9FF;
    line-height: 1.3rem;
    margin: 0;
}

.results-summary__circle {
width: 9rem;
height: 9rem;
background: linear-gradient(180deg, rgba(77, 33, 201, 1) 5%, rgba(37, 33, 201, 0) 100%);
border-radius: 50%;
flex: 0 0 auto;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.results-summary__score {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;;
}

.results-summary__total {
    font-size: var(--t5b-size);
    font-weight: 600;
    color: var(--navy-200);
}

.results-summary__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0rem;
    text-align: center;
}

.results-summary__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.3rem;
    margin: 0 0 2px;
}

.results-summary__subtitle {
    font-size: var(--t6-size);
    font-weight: var(--t6-weight);
    line-height: var(--t6-line);
    color: #CAC9FF;
    /* max-width: 20rem; */
}

.results-summary__title, .results-summary__subtitle {
    font-family: 'HankenGrotesk',  'Arial', 'Helvetica', 'sans-serif';
}




/* SUMMARY-SECTION */

.summary {
    /* background-color: var(--white); */
    padding: 0 1.8rem;
    display: flex;
    flex-direction: column;
}

.summary__heading {
    font-size: var(--t5b-size);
    line-height: var(--t5b-line);
    letter-spacing: 0px;
    font-weight: var(--t5b-weight);
    color: var(--navy-950);
    margin-bottom: 0px;
}

.summary__list {
    padding: 1.5rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.summary__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1.6rem;

}

.summary__list-item-label {
    display: flex;
    column-gap: 1rem;
}

.summary__list-score-max {
    font-size: var(--t6-size);
    font-weight: 500;
    line-height: var(--t6-line);
    color: var(--navy-950);
    opacity: 50%;
}

.summary__list-item .summary__list-item-label::before {
    content: "";
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  background-size: 1.25em;
}

.summary__list-item:nth-of-type(1) .summary__list-item-label::before {
   
  background: url("./images/icon-reaction.svg") no-repeat center;
}

.summary__list-item:nth-of-type(2) .summary__list-item-label::before {
  background: url("./images/icon-memory.svg") no-repeat center;
}
.summary__list-item:nth-of-type(3) .summary__list-item-label::before {
  background: url("./images/icon-verbal.svg") no-repeat center;
}
.summary__list-item:nth-of-type(4) .summary__list-item-label::before {
  background: url("./images/icon-visual.svg") no-repeat center;
}


.summary__list-item:nth-of-type(1) .summary__list-item-label {
    color: var(--red-400);
}

.summary__list-item:nth-of-type(2) .summary__list-item-label {
    color: var(--yellow-400);
}

.summary__list-item:nth-of-type(3) .summary__list-item-label {
    color: var(--green-500);
}

.summary__list-item:nth-of-type(4) .summary__list-item-label {
    color: var(--blue-800);
}


.summary__list-item:nth-of-type(1) {
    background-color: var(--red-50);
}

.summary__list-item:nth-of-type(2) {
    background-color: var(--yellow-50);
}

.summary__list-item:nth-of-type(3) {
    background-color: var(--green-50);
}

.summary__list-item:nth-of-type(4) {
    background-color: var(--blue-50);
}

.summary__button {
    background-color: #303B59;
    font-family: 'HankenGrotesk', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white);
    border-radius: 8rem;
    line-height: 4rem;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
    
    body {
        background-color: var(--blue-50);
        min-height: 100vh;

    }

    .wrapper {
        padding-top: 9rem;
    }

    
    .results-summary-component {
        flex-direction: row;
        border-radius: 2rem;
    }
    
    .results-summary {
        width: 338px;
        border-radius: 2rem;
    }
    
    .results-summary__circle {
        width: 12.5em;
        height: 12.5em;
    }

    .results-summary__heading {
        font-size: var(--t4-size);
        font-weight: var(--t4-weight);
        line-height: var(--t4-line);
    }

    .results-summary__score {
        font-size: var(--t1-size);
        font-weight: var(--t1-weight);
        line-height: var(--t1-line);
        
    }
    
    .results-summary__total {
        opacity: 50%;
    }

    .results-summary__title {
        font-size: var(--t3-size);
        font-weight: var(--t3-weight);
        line-height: var(--t3-line);
    }

    .results-summary__subtitle {
        font-size: var(--t5m-size);
        font-weight: var(--t5m-weight);
        line-height: var(--t5m-line);
        max-width: 12.5rem;
    }
    
    .summary {
        width: 348px;
    }

    .summary__heading {
        padding-top: 0.5rem;
        font-size: var(--t4-size);
        font-weight: var(--t4-weight);
        line-height: var(--t4-line);
    }

    .summary__list {
        padding: 2rem 0;
    }

    .summary__list-item {
        font-size: var(--t5m-size);
        font-weight: var(--t5m-weight);
        line-height: var(--t5m-line);
        justify-content: flex-start;
        gap: 56px;
    }

    .summary__list-item-label {
        font-size: var(--t5m-size);
        font-weight: var(--t5m-weight);
        line-height: var(--t5m-line);
    }

    

    .summary__list-item-score {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: var(--t5b-size);
        font-weight: var(--t5b-weight);
        line-height: var(--t5b-line);
    }

    @media (min-width: 1024px) {
        .wrapper {
            padding-top: 9rem;
        }
        .results-summary-component {
            max-width: 768px;
            gap: 0.5rem;
        }

        .summary__button:hover {
            cursor: pointer;
            background-color: var(--gradient-2);
        }
    }

}